<div class="invt_frnd_dtls">
    <div class="container">
        <div class="tskr_rgstrn_outer_cont">
            <div class="invt_frnd_dtls_inner">
                <div class="invt_frnd_dtls_bx">
                    <div class="invt_frnd_dtls_hdr">
                        <div class="invt_frnd_dtls_bx_lft">
                            <div class="invt_frnd_dtls_tle">
                                Invite Friend
                            </div>
                        </div>
                    </div>
                    <div class="invt_frnd_dtls_cont">
                        <div class="invt_frnd_dtls_inner_cont">
                            <div class="invt_frnd_dtls_inner_rgt">
                                <div class="invt_frnd_inner_cont">
                                    <img src="/uploads/images/others/invitefrnd.png">
                                </div>
                            </div>
                            <div class="invt_frnd_dtls_inner_lft">
                                <div class="invt_frnd_inner_lft_tle">
                                    Invite your
                                    <br />friends via
                                </div>
                                <div class="invt_frnd_inner_lft_gmail" ng-click="googleInviteFriends()">
                                    Gmail
                                </div>
                                <div class="invt_frnd_inner_lft_or">
                                    Or
                                </div>
                                <div class="invt_frnd_inner_lft_fb" ng-click="facebookInviteFriends()">
                                    Facebook
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>