<div class="tskr_pass_dtls">
    <div class="container">
        <div class="tskr_rgstrn_outer_cont">
            <div class="tskr_pass_dtls_inner">
                <div class="tskr_pass_dtls_bx">
                    <div class="tskr_pass_dtls_hdr">
                        <div class="tskr_pass_dtls_bx_lft">
                            <div class="tskr_pass_dtls_tle">
                                Change Password
                            </div>
                        </div>
                    </div>
                    <div class="tskr_pass_dtls_cont">
                        <div class="tskr_pass_dtls_inner_cont">
                            <form name="accountChangePasswordForm" submit-validate novalidate>
                                <div class="tskr_pass_dtlsval">
                                    <span>
                                        <input type="password" name="current_pwd" ng-model="APC.account.current_pwd" class="form-control" placeholder="Enter current password" ng-minlength="6" ng-maxlength="12" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,12}$/" autocomplete="off" required ng-focus="focus=true" ng-blur="focus=false" on-blur-validation>
                                        <span ng-show="accountChangePasswordForm.current_pwd.$error.required && !accountChangePasswordForm.current_pwd.$pristine">{{'ENTER_CURRENT_PASSWORD' | translate}}.</span>
                                    <span style="color:red" ng-show="accountChangePasswordForm.current_pwd.$invalid && !accountChangePasswordForm.current_pwd.$pristine && !accountChangePasswordForm.current_pwd.$untouched">{{'PASSWORD MUST CONTAIN ATLEAST ONE UPPERCASE,ONE LOWER CASE,ONE NUMERIC DIGIT' | translate}}.</span>
                                    <span ng-show="accountChangePasswordForm.current_pwd.$error.minlength">{{'PASSWORD MUST BE MINIMUM OF 6 CHARACTERS' | translate}}.</span>
                                    <span ng-show="accountChangePasswordForm.current_pwd.$error.maxlength">{{'PASSWORD MUST BE MAXIMUM OF 12 CHARACTERS' | translate}}.</span>
                                    </span>
                                </div>
                                <div class="tskr_pass_dtlsval">
                                    <span>
                                        <input type="password" name="new_pwd" ng-model="APC.account.new_pwd" class="form-control" placeholder="Enter new password" ng-minlength="6" ng-maxlength="12" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,12}$/" autocomplete="off" required ng-focus="focus=true" ng-blur="focus=false" on-blur-validation>
                                        <span ng-show="accountChangePasswordForm.new_pwd.$error.required && !accountChangePasswordForm.new_pwd.$pristine">{{'ENTER_NEW_PASSWORD' | translate}}.</span>
                                    <span style="color:red" ng-show="accountChangePasswordForm.new_pwd.$invalid && !accountChangePasswordForm.new_pwd.$pristine && !accountChangePasswordForm.new_pwd.$untouched">{{'PASSWORD MUST CONTAIN ATLEAST ONE UPPERCASE,ONE LOWER CASE,ONE NUMERIC DIGIT' | translate}}.</span>
                                    <span ng-show="accountChangePasswordForm.new_pwd.$error.minlength">{{'PASSWORD MUST BE MINIMUM OF 6 CHARACTERS' | translate}}.</span>
                                    <span ng-show="accountChangePasswordForm.new_pwd.$error.maxlength">{{'PASSWORD MUST BE MAXIMUM OF 12 CHARACTERS' | translate}}.</span>
                                    </span>
                                </div>
                                <div class="tskr_pass_dtlsval">
                                    <span>
                                        <input type="password" name="conf_new_pwd" ng-model="APC.account.conf_new_pwd" class="form-control" placeholder="Enter confirm password" ng-minlength="6" ng-maxlength="12" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,12}$/" autocomplete="off" required ng-focus="focus=true" ng-blur="focus=false" on-blur-validation>
                                        <span ng-show="accountChangePasswordForm.conf_new_pwd.$error.required && !accountChangePasswordForm.conf_new_pwd.$pristine">{{'CONFIRM_NEW_PASSWORD' | translate}}.</span>
                                    <span style="color:red" ng-show="accountChangePasswordForm.conf_new_pwd.$invalid && !accountChangePasswordForm.conf_new_pwd.$pristine && !accountChangePasswordForm.conf_new_pwd.$untouched">{{'PASSWORD MUST CONTAIN ATLEAST ONE UPPERCASE,ONE LOWER CASE,ONE NUMERIC DIGIT' | translate}}.</span>
                                    <span ng-show="accountChangePasswordForm.conf_new_pwd.$error.minlength">{{'PASSWORD MUST BE MINIMUM OF 6 CHARACTERS' | translate}}.</span>
                                    <span ng-show="accountChangePasswordForm.conf_new_pwd.$error.maxlength">{{'PASSWORD MUST BE MAXIMUM OF 12 CHARACTERS' | translate}}.</span>
                                    </span>
                                </div>
                                <div class="tskr_pass_dtlsval_btn">
                                    <span ng-if="APC.user.role == 'user' && APC.user._id === APC.currentUser">
                                        <button class="btn act_btn" ng-click="accountUserPasswordChange(accountChangePasswordForm.$valid, APC.account)">Save Password</button>
                                    </span>
                                    <span ng-if="APC.user.role == 'tasker' && APC.user._id === APC.currentUser">
                                        <button class="btn act_btn" ng-click="accountTaskerPasswordChange(accountChangePasswordForm.$valid, APC.account)">Save Password</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>