<div class="tskr_rgstrn">
<div class="container">
<div class="tskr_rgstrn_outer_cont">
<uib-tabset  class="tab-animation" active="active">
    <uib-tab index="0" heading="1. Personal Info" ng-attr-active="first">
	    <div class="tskr_rgstrn_1">
		      <div class="tskr_rgstrn_tle1">
		    	<div class="tskr_rgstrn_1_tle">
		    		Apply to be a Tasker
		    	</div>
		    	<div class="tskr_rgstrn_1_stle">
		    		Tell us about yourself
		    	</div>
		       </div>
	       <div class="tskr_rgstrn_cont1">
	         <div class="tskr_rgstrn_inner_cont">
	         <div class="inner_main_cont">
	       		<div class="main_cont">
	       		  <div class="main_cont_top">
	       		  <div class="main_cont_rgt">
	       				<div class="main_cont_rgt_img">
	       					<span class="main_cont_rgt_imgs">
	       						<img src="/uploads/images/others/taskerstep_prof_img.jpg">
	       					</span>	
	       					<span class="main_cont_rgt_img_i">
	       						<i class="fa fa-pencil" aria-hidden="true"></i>
	       					</span>	       					
	       				</div>

	       			</div>
	       			<div class="main_cont_lft">
	       			  <div class="bday_date">
	       			  	 <span>
	       			  	 	<label>
	       			  	 		What is your birthdate?
	       			  	 	</label>
	       			  	 	<span class="bdy_input">
	       			  	 	<input type="text" name="">
	       			  	 	<span>
	       			  	 	    <img src="/uploads/images/others/calendar.svg" />
	       			  	 		<!-- <i class="fa fa-calendar" aria-hidden="true"></i> -->
	       			  	 	</span>
	       			  	 	</span>
	       			  	 </span>
	       			  </div>
	       			  <div class="bday_date">
	       			  	 <span>
	       			  	 	<label>
	       			  			Gender
	       			  	 	</label>
	       			  	 	<select>
	       			  	 		<option selected="true" hidden="true" disabled="true">
	       			  	 			Select a Gender?
	       			  	 		</option>			       			  	 		
	       			  	 	</select>
	       			  	 </span>
	       			  </div>
	       			</div>	       			
	       		   </div>
	       		   <div class="main_cont_bottom">
	       		      <div class="mailing_info">
	       		      	<div class="mailing_info_tle">
	       		      		Mailing Address
	       		      	</div>
	       		      	<div class="mailing_info_cont">
	       		      	   <div class="mailing_info_scont">
	       		      	   		<label>
	       		      	   			Address Line 1
	       		      	   		</label>
	       		      	   		<input type="text" name="address" placeholder="4411 Yorkie Lane">
	       		      	   </div>
	       		      	   <div class="mailing_info_scont">
	       		      	   		<label>
	       		      	   			Address Line  2
	       		      	   		</label>
	       		      	   		<input type="text" name="address" placeholder="4411 Yorkie Lane">
	       		      	   </div>
	       		      	   <div class="mailing_info_scont">
	       		      	   		<label>
	       		      	   			Town / City
	       		      	   		</label>
	       		      	   		<input type="text" name="address" placeholder="Savannah">
	       		      	   </div>
	       		      	   <div class="mailing_info_scont">
	       		      	   		<label>
	       		      	   			State / Province / Region
	       		      	   		</label>
	       		      	   		<input type="text" name="address" placeholder="Georgia">
	       		      	   </div>
	       		      	   <div class="mailing_info_scont">
	       		      	   		<label>
	       		      	   			Country / Province / Region
	       		      	   		</label>
	       		      	   		<input type="text" name="address" placeholder="United States">
	       		      	   </div>
	       		      	   <div class="mailing_info_scont">
	       		      	   		<label>
	       		      	   			Zip Code
	       		      	   		</label>
	       		      	   		<input type="text" name="address" placeholder="31401">
	       		      	   </div>
	       		      	   <div class="mailing_info_scont_btn">
	       		      	   	   <div class="mailing_info_btn_cont">
	       		      	   	   	  <span>
	       		      	   	   	  	 <button>
	       		      	   	   	  	 	Continue
	       		      	   	   	  	 </button>
	       		      	   	   	  </span>
	       		      	   	   </div>
	       		      	   </div>
	       		      	</div>	
	       		      </div>
	       		   </div>
	       		</div>
	       		</div>
	       		</div>
	       </div>
	    </div>
    </uib-tab>
    <uib-tab index="1" heading="2. Work Info" ng-attr-active="second">
    	<div class="tskr_rgstrn_1">
	    	<div class="tskr_rgstrn_tle1">
		    	<div class="tskr_rgstrn_1_tle">
		    		Apply to be a Tasker
		    	</div>
		    	<div class="tskr_rgstrn_1_stle">
		    		Tell us about yourself
		    	</div>
		     </div>
		     <div class="tskr_rgstrn_cont1">
	         <div class="tskr_rgstrn_inner_cont">
	         <div class="inner_main_cont">
	       		<div class="main_cont">
		       		<div class="main_cont_2_1">
		       			<div class="main_cont_tle">
		       				<label>
		       					Select business days/hours
		       				</label>
		       			</div>
		       			<div class="main_cont_cont">

		       				<div>
							  <script type="text/ng-template" id="group-template.html">
							    <div class="panel-heading">
							      <h4 class="panel-title" style="color:#fa39c3">
							        <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
							          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
							            {{heading}}
							          </span>
							        </a>
							      </h4>
							    </div>
							    <div class="panel-collapse collapse" uib-collapse="!isOpen">
							      <div class="panel-body" style="text-align: right" ng-transclude></div>
							    </div>
							  </script>

							  <!-- <div class="checkbox">
							    <label>
							      <input type="checkbox" ng-model="oneAtATime">
							      Open only one at a time
							    </label>
							  </div> -->

							  <uib-accordion close-others="oneAtATime">
							  <!-- monday -->
							    <div uib-accordion-group class="panel-default actives" >
							      <uib-accordion-heading >
							        <div class="date_acrd">
							        <span  class="date_acrd_input">
							        	<input type="checkbox" name="">
							        </span>
							        <label>
							        	monday	
							        </label>
							        </div>
							        <div class="date_whl_day">
							         <span class="date_whl_input">
							        	<input type="checkbox" name="">
							        </span>
							        <label>
							        	Whole day	
							        </label>
							        <span class="date_icon">
							         <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
							         </span>
							        </div>
							      </uib-accordion-heading>
							      <div class="dates_time mndy_time">
							      	<div class="timings">
							      		<div class="time_value">
							      		    <input type="checkbox" name="6AM_m" id="6AM_m" />
							      			<label for="6AM_m" >6AM-7AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="7AM_m" id="7AM_m" />
							      			<label for="7AM_m" >7AM-8AM</label>
							      		</div>
							      		<div class="time_value">
							      		    <input type="checkbox" name="8AM_m" id="8AM_m" />
							      			<label for="8AM_m" >8AM-9AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="9AM_m" id="9AM_m" />
							      			<label for="9AM_m" >9AM-10AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="10AM_m" id="10AM_m" />
							      			<label for="10AM_m" >10AM-11AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="11AM_m" id="11AM_m" />
							      			<label for="11AM_m" >11AM-12PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="12PM_m" id="12PM_m" />
							      			<label for="12PM_m" >12PM-1PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="1PM_m" id="1PM_m" />
							      			<label for="1PM_m" >1PM-2PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="2PM_m" id="2PM_m" />
							      			<label for="2PM_m" >2PM-3PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="3PM_m" id="3PM_m" />
							      			<label for="3PM_m" >3PM-4PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="4PM_m" id="4PM_m" />
							      			<label for="4PM_m" >4PM-5PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="5PM_m" id="5PM_m" />
							      			<label for="5PM_m" >5PM-6PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="6PM_m" id="6PM_m" />
							      			<label for="6PM_m" >6PM-7PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="7PM_m" id="7PM_m" />
							      			<label for="7PM_m" >7PM-8PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="8PM" id="8PM_m" />
							      			<label for="8PM_m" >8PM-9PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="9PM_m" id="9PM_m" />
							      			<label for="9PM_m" >9PM-10PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="10PM_m" id="10PM_m" />
							      			<label for="10PM_m" >10PM-11PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="11PM_m" id="11PM_m_m" />
							      			<label for="11PM_m" >11PM-12AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="12AM_m" id="12AM_m" />
							      			<label for="12AM_m" >12AM-1AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="1AM_m" id="1AM_m" />
							      			<label for="1AM_m" >1AM-2AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="2AM_m" id="2AM_m" />
							      			<label for="2AM_m" >2AM-3AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="3AM_m" id="3AM_m" />
							      			<label for="3AM_m" >3AM-4AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="4AM_m" id="4AM_m" />
							      			<label for="4AM_m" >4AM-5AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="5AM_m" id="5AM_m" />
							      			<label for="5AM_m" >5AM-6AM</label>
							      		</div>
							      	</div>
							      </div>
							    </div>
							    <!-- Tuesday -->
							    <div uib-accordion-group class="panel-default" >
							      <uib-accordion-heading>
							        <div class="date_acrd">
							        <span  class="date_acrd_input">
							        	<input type="checkbox" name="">
							        </span>
							        <label>
							        	Tuesday	
							        </label>
							        </div>
							        <div class="date_whl_day">
							         <span class="date_whl_input">
							        	<input type="checkbox" name="">
							        </span>
							        <label>
							        	Whole day	
							        </label>
							        <span class="date_icon">
							         <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
							         </span>
							        </div>
							      </uib-accordion-heading>
							      <div class="dates_time Tusday_time">
							      	<div class="timings">
							      		<div class="time_value">
							      		    <input type="checkbox" name="6AM" id="6AM" />
							      			<label for="6AM" >6AM-7AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="7AM" id="7AM" />
							      			<label for="7AM" >7AM-8AM</label>
							      		</div>
							      		<div class="time_value">
							      		    <input type="checkbox" name="8AM" id="8AM" />
							      			<label for="8AM" >8AM-9AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="9AM" id="9AM" />
							      			<label for="9AM" >9AM-10AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="10AM" id="10AM" />
							      			<label for="10AM" >10AM-11AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="11AM" id="11AM" />
							      			<label for="11AM" >11AM-12PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="12PM" id="12PM" />
							      			<label for="12PM" >12PM-1PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="1PM" id="1PM" />
							      			<label for="1PM" >1PM-2PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="2PM" id="2PM" />
							      			<label for="2PM" >2PM-3PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="3PM" id="3PM" />
							      			<label for="3PM" >3PM-4PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="4PM" id="4PM" />
							      			<label for="4PM" >4PM-5PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="5PM" id="5PM" />
							      			<label for="5PM" >5PM-6PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="6PM" id="6PM" />
							      			<label for="6PM" >6PM-7PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="7PM" id="7PM" />
							      			<label for="7PM" >7PM-8PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="8PM" id="8PM" />
							      			<label for="8PM" >8PM-9PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="9PM" id="9PM" />
							      			<label for="9PM" >9PM-10PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="10PM" id="10PM" />
							      			<label for="10PM" >10PM-11PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="11PM" id="11PM" />
							      			<label for="11PM" >11PM-12AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="12AM" id="12AM" />
							      			<label for="12AM" >12AM-1AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="1AM" id="1AM" />
							      			<label for="1AM" >1AM-2AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="2AM" id="2AM" />
							      			<label for="2AM" >2AM-3AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="3AM" id="3AM" />
							      			<label for="3AM" >3AM-4AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="4AM" id="4AM" />
							      			<label for="4AM" >4AM-5AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="5AM" id="5AM" />
							      			<label for="5AM" >5AM-6AM</label>
							      		</div>
							      	</div>
							      </div>
							    </div>
							    <!-- Wednesday -->
							    <div uib-accordion-group class="panel-default" >
							      <uib-accordion-heading>
							        <div class="date_acrd">
							        <span  class="date_acrd_input">
							        	<input type="checkbox" name="">
							        </span>
							        <label>
							        	Wednesday	
							        </label>
							        </div>
							        <div class="date_whl_day">
							         <span class="date_whl_input">
							        	<input type="checkbox" name="">
							        </span>
							        <label>
							        	Whole day	
							        </label>
							        <span class="date_icon">
							         <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
							         </span>
							        </div>
							      </uib-accordion-heading>
							      <div class="dates_time Wdns_time">
							      	<div class="timings">
							      		<div class="time_value">
							      		    <input type="checkbox" name="6AM" id="6AM" />
							      			<label for="6AM" >6AM-7AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="7AM" id="7AM" />
							      			<label for="7AM" >7AM-8AM</label>
							      		</div>
							      		<div class="time_value">
							      		    <input type="checkbox" name="8AM" id="8AM" />
							      			<label for="8AM" >8AM-9AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="9AM" id="9AM" />
							      			<label for="9AM" >9AM-10AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="10AM" id="10AM" />
							      			<label for="10AM" >10AM-11AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="11AM" id="11AM" />
							      			<label for="11AM" >11AM-12PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="12PM" id="12PM" />
							      			<label for="12PM" >12PM-1PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="1PM" id="1PM" />
							      			<label for="1PM" >1PM-2PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="2PM" id="2PM" />
							      			<label for="2PM" >2PM-3PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="3PM" id="3PM" />
							      			<label for="3PM" >3PM-4PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="4PM" id="4PM" />
							      			<label for="4PM" >4PM-5PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="5PM" id="5PM" />
							      			<label for="5PM" >5PM-6PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="6PM" id="6PM" />
							      			<label for="6PM" >6PM-7PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="7PM" id="7PM" />
							      			<label for="7PM" >7PM-8PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="8PM" id="8PM" />
							      			<label for="8PM" >8PM-9PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="9PM" id="9PM" />
							      			<label for="9PM" >9PM-10PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="10PM" id="10PM" />
							      			<label for="10PM" >10PM-11PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="11PM" id="11PM" />
							      			<label for="11PM" >11PM-12AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="12AM" id="12AM" />
							      			<label for="12AM" >12AM-1AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="1AM" id="1AM" />
							      			<label for="1AM" >1AM-2AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="2AM" id="2AM" />
							      			<label for="2AM" >2AM-3AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="3AM" id="3AM" />
							      			<label for="3AM" >3AM-4AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="4AM" id="4AM" />
							      			<label for="4AM" >4AM-5AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="5AM" id="5AM" />
							      			<label for="5AM" >5AM-6AM</label>
							      		</div>
							      	</div>
							      </div>
							    </div>
							    <!-- Thursday -->
							    <div uib-accordion-group class="panel-default" >
							      <uib-accordion-heading>
							        <div class="date_acrd">
							        <span  class="date_acrd_input">
							        	<input type="checkbox" name="">
							        </span>
							        <label>
							        	Thursday	
							        </label>
							        </div>
							        <div class="date_whl_day">
							         <span class="date_whl_input">
							        	<input type="checkbox" name="">
							        </span>
							        <label>
							        	Whole day	
							        </label>
							        <span class="date_icon">
							         <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
							         </span>
							        </div>
							      </uib-accordion-heading>
							      <div class="dates_time Thrs_time">
							      	<div class="timings">
							      		<div class="time_value">
							      		    <input type="checkbox" name="6AM" id="6AM" />
							      			<label for="6AM" >6AM-7AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="7AM" id="7AM" />
							      			<label for="7AM" >7AM-8AM</label>
							      		</div>
							      		<div class="time_value">
							      		    <input type="checkbox" name="8AM" id="8AM" />
							      			<label for="8AM" >8AM-9AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="9AM" id="9AM" />
							      			<label for="9AM" >9AM-10AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="10AM" id="10AM" />
							      			<label for="10AM" >10AM-11AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="11AM" id="11AM" />
							      			<label for="11AM" >11AM-12PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="12PM" id="12PM" />
							      			<label for="12PM" >12PM-1PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="1PM" id="1PM" />
							      			<label for="1PM" >1PM-2PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="2PM" id="2PM" />
							      			<label for="2PM" >2PM-3PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="3PM" id="3PM" />
							      			<label for="3PM" >3PM-4PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="4PM" id="4PM" />
							      			<label for="4PM" >4PM-5PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="5PM" id="5PM" />
							      			<label for="5PM" >5PM-6PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="6PM" id="6PM" />
							      			<label for="6PM" >6PM-7PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="7PM" id="7PM" />
							      			<label for="7PM" >7PM-8PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="8PM" id="8PM" />
							      			<label for="8PM" >8PM-9PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="9PM" id="9PM" />
							      			<label for="9PM" >9PM-10PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="10PM" id="10PM" />
							      			<label for="10PM" >10PM-11PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="11PM" id="11PM" />
							      			<label for="11PM" >11PM-12AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="12AM" id="12AM" />
							      			<label for="12AM" >12AM-1AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="1AM" id="1AM" />
							      			<label for="1AM" >1AM-2AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="2AM" id="2AM" />
							      			<label for="2AM" >2AM-3AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="3AM" id="3AM" />
							      			<label for="3AM" >3AM-4AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="4AM" id="4AM" />
							      			<label for="4AM" >4AM-5AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="5AM" id="5AM" />
							      			<label for="5AM" >5AM-6AM</label>
							      		</div>
							      	</div>
							      </div>
							    </div>
							    <!-- Friday -->
							    <div uib-accordion-group class="panel-default" >
							      <uib-accordion-heading>
							        <div class="date_acrd">
							        <span  class="date_acrd_input">
							        	<input type="checkbox" name="">
							        </span>
							        <label>
							        	Friday	
							        </label>
							        </div>
							        <div class="date_whl_day">
							         <span class="date_whl_input">
							        	<input type="checkbox" name="">
							        </span>
							        <label>
							        	Whole day	
							        </label>
							        <span class="date_icon">
							         <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
							         </span>
							        </div>
							      </uib-accordion-heading>
							      <div class="dates_time Fr_time">
							      	<div class="timings">
							      		<div class="time_value">
							      		    <input type="checkbox" name="6AM" id="6AM" />
							      			<label for="6AM" >6AM-7AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="7AM" id="7AM" />
							      			<label for="7AM" >7AM-8AM</label>
							      		</div>
							      		<div class="time_value">
							      		    <input type="checkbox" name="8AM" id="8AM" />
							      			<label for="8AM" >8AM-9AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="9AM" id="9AM" />
							      			<label for="9AM" >9AM-10AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="10AM" id="10AM" />
							      			<label for="10AM" >10AM-11AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="11AM" id="11AM" />
							      			<label for="11AM" >11AM-12PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="12PM" id="12PM" />
							      			<label for="12PM" >12PM-1PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="1PM" id="1PM" />
							      			<label for="1PM" >1PM-2PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="2PM" id="2PM" />
							      			<label for="2PM" >2PM-3PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="3PM" id="3PM" />
							      			<label for="3PM" >3PM-4PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="4PM" id="4PM" />
							      			<label for="4PM" >4PM-5PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="5PM" id="5PM" />
							      			<label for="5PM" >5PM-6PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="6PM" id="6PM" />
							      			<label for="6PM" >6PM-7PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="7PM" id="7PM" />
							      			<label for="7PM" >7PM-8PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="8PM" id="8PM" />
							      			<label for="8PM" >8PM-9PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="9PM" id="9PM" />
							      			<label for="9PM" >9PM-10PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="10PM" id="10PM" />
							      			<label for="10PM" >10PM-11PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="11PM" id="11PM" />
							      			<label for="11PM" >11PM-12AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="12AM" id="12AM" />
							      			<label for="12AM" >12AM-1AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="1AM" id="1AM" />
							      			<label for="1AM" >1AM-2AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="2AM" id="2AM" />
							      			<label for="2AM" >2AM-3AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="3AM" id="3AM" />
							      			<label for="3AM" >3AM-4AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="4AM" id="4AM" />
							      			<label for="4AM" >4AM-5AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="5AM" id="5AM" />
							      			<label for="5AM" >5AM-6AM</label>
							      		</div>
							      	</div>
							      </div>
							    </div>
							    <!-- Saturday -->
							    <div uib-accordion-group class="panel-default" >
							      <uib-accordion-heading>
							        <div class="date_acrd">
							        <span  class="date_acrd_input">
							        	<input type="checkbox" name="">
							        </span>
							        <label>
							        	Saturday	
							        </label>
							        </div>
							        <div class="date_whl_day">
							         <span class="date_whl_input">
							        	<input type="checkbox" name="">
							        </span>
							        <label>
							        	Whole day	
							        </label>
							        <span class="date_icon">
							         <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
							         </span>
							        </div>
							      </uib-accordion-heading>
							      <div class="dates_time Str_time">
							      	<div class="timings">
							      		<div class="time_value">
							      		    <input type="checkbox" name="6AM" id="6AM" />
							      			<label for="6AM" >6AM-7AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="7AM" id="7AM" />
							      			<label for="7AM" >7AM-8AM</label>
							      		</div>
							      		<div class="time_value">
							      		    <input type="checkbox" name="8AM" id="8AM" />
							      			<label for="8AM" >8AM-9AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="9AM" id="9AM" />
							      			<label for="9AM" >9AM-10AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="10AM" id="10AM" />
							      			<label for="10AM" >10AM-11AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="11AM" id="11AM" />
							      			<label for="11AM" >11AM-12PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="12PM" id="12PM" />
							      			<label for="12PM" >12PM-1PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="1PM" id="1PM" />
							      			<label for="1PM" >1PM-2PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="2PM" id="2PM" />
							      			<label for="2PM" >2PM-3PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="3PM" id="3PM" />
							      			<label for="3PM" >3PM-4PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="4PM" id="4PM" />
							      			<label for="4PM" >4PM-5PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="5PM" id="5PM" />
							      			<label for="5PM" >5PM-6PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="6PM" id="6PM" />
							      			<label for="6PM" >6PM-7PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="7PM" id="7PM" />
							      			<label for="7PM" >7PM-8PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="8PM" id="8PM" />
							      			<label for="8PM" >8PM-9PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="9PM" id="9PM" />
							      			<label for="9PM" >9PM-10PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="10PM" id="10PM" />
							      			<label for="10PM" >10PM-11PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="11PM" id="11PM" />
							      			<label for="11PM" >11PM-12AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="12AM" id="12AM" />
							      			<label for="12AM" >12AM-1AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="1AM" id="1AM" />
							      			<label for="1AM" >1AM-2AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="2AM" id="2AM" />
							      			<label for="2AM" >2AM-3AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="3AM" id="3AM" />
							      			<label for="3AM" >3AM-4AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="4AM" id="4AM" />
							      			<label for="4AM" >4AM-5AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="5AM" id="5AM" />
							      			<label for="5AM" >5AM-6AM</label>
							      		</div>
							      	</div>
							      </div>
							    </div>
							    <!-- Sunday -->
							    <div uib-accordion-group class="panel-default actives active_full" >
							      <uib-accordion-heading>
							        <div class="date_acrd">
							        <span  class="date_acrd_input">
							        	<input type="checkbox" name="">
							        </span>
							        <label>
							        	Sunday	
							        </label>
							        </div>
							        <div class="date_whl_day">
							         <span class="date_whl_input">
							        	<input type="checkbox" name="">
							        </span>
							        <label>
							        	Whole day	
							        </label>
							        <span class="date_icon">
							         <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
							         </span>
							        </div>
							      </uib-accordion-heading>
							      <div class="dates_time Sn_time">
							      	<div class="timings">
							      		<div class="time_value">
							      		    <input type="checkbox" name="6AM" id="6AM" />
							      			<label for="6AM" >6AM-7AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="7AM" id="7AM" />
							      			<label for="7AM" >7AM-8AM</label>
							      		</div>
							      		<div class="time_value">
							      		    <input type="checkbox" name="8AM" id="8AM" />
							      			<label for="8AM" >8AM-9AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="9AM" id="9AM" />
							      			<label for="9AM" >9AM-10AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="10AM" id="10AM" />
							      			<label for="10AM" >10AM-11AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="11AM" id="11AM" />
							      			<label for="11AM" >11AM-12PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="12PM" id="12PM" />
							      			<label for="12PM" >12PM-1PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="1PM" id="1PM" />
							      			<label for="1PM" >1PM-2PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="2PM" id="2PM" />
							      			<label for="2PM" >2PM-3PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="3PM" id="3PM" />
							      			<label for="3PM" >3PM-4PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="4PM" id="4PM" />
							      			<label for="4PM" >4PM-5PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="5PM" id="5PM" />
							      			<label for="5PM" >5PM-6PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="6PM" id="6PM" />
							      			<label for="6PM" >6PM-7PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="7PM" id="7PM" />
							      			<label for="7PM" >7PM-8PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="8PM" id="8PM" />
							      			<label for="8PM" >8PM-9PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="9PM" id="9PM" />
							      			<label for="9PM" >9PM-10PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="10PM" id="10PM" />
							      			<label for="10PM" >10PM-11PM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="11PM" id="11PM" />
							      			<label for="11PM" >11PM-12AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="12AM" id="12AM" />
							      			<label for="12AM" >12AM-1AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="1AM" id="1AM" />
							      			<label for="1AM" >1AM-2AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="2AM" id="2AM" />
							      			<label for="2AM" >2AM-3AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="3AM" id="3AM" />
							      			<label for="3AM" >3AM-4AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="4AM" id="4AM" />
							      			<label for="4AM" >4AM-5AM</label>
							      		</div>
							      		<div class="time_value">
							      			<input type="checkbox" name="5AM" id="5AM" />
							      			<label for="5AM" >5AM-6AM</label>
							      		</div>
							      	</div>
							      </div>
							      </div>
							      
							  </uib-accordion>
							</div>
							</div>
		       			</div>	
		       		<div class="main_cont_2_2">
		       			<div class="main_cont_tle">
		       				<label>
		       					Work Location
		       				</label>
		       			</div>
		       			<div class="main2_cont_cont">
		       			  <div class="google_map">
		       			  	<img src="/uploads/images/others/google-map.jpg" />
		       			  </div>
		       			</div>
		       		</div>
		       		<div class="main_cont_2_3">
		       			<div class="main_cont_tle">
		       				<label>
		       					Availability radius in KM
		       				</label>
		       			</div>
		       			<div class="main3_cont_cont">
		       			  <div class="main3_inner_cont">
		       			  	<input type="number" min="0" max="50" value="50" />
		       			  	<div class="spinner">
		       			  	<div class="spin_top">
		       			  		<i class="fa fa-sort-asc" aria-hidden="true"></i>
		       			  	</div>
		       			  	<div class="spin_bottom">
		       			  		<i class="fa fa-sort-desc" aria-hidden="true"></i>
		       			  	</div>
		       			  	</div>
		       			  </div>
		       			</div>
		       		</div>
		       		<div class="main_cont_2_4">
		       			<div class="main_cont_2_4_btn">
		       				<button class="btn">
		       					Continue
		       				</button>
		       			</div>
		       		</div>
	       		</div>
	       	 </div>
	       	 </div>
	       	 </div>
	    </div>
    </uib-tab>
    <uib-tab index="2" heading="3. Category" ng-attr-active="three">
    	<div class="tskr_rgstrn_1">
	    	<div class="tskr_rgstrn_tle1">
		    	<div class="tskr_rgstrn_1_tle">
		    		Apply to be a Tasker
		    	</div>
		    	<div class="tskr_rgstrn_1_stle">
		    		Tell us about yourself
		    	</div>
		     </div>
		  </div>
		  <div class="tskr_rgstrn_cont_3">
		  <div class="tskr_cont_3_hdr">
		  	<div class="tskr_rgstrn_cont_3_tle">
		  		Add Your Rates & Skills
		  	</div>
		  	<div class="tskr_rgstrn_cont_3_btn">
		  		<button class="btn" ng-click="addCategory()">
		  			Add Category
		  		</button>
		  	</div>
		  </div>
		  <div class="tskr_cont_3_cont">
		  <div class="tskr_cont_3_list">
		  	<div class="tskr_cont_3_cont_inner">
		  		<div class="tskr_3_cont_inner_left">
		  			Kitchen Cleaning
		  		</div>
		  		<div class="tskr_3_cont_inner_rgt">

			  		<span class="edit">
			  			<span class="icons">
			  			<i class="fa fa-pencil" aria-hidden="true"></i>
			  			</span>
			  			<span class="name"><a href="#">Edit</a></span>
			  		</span>
			  		<span class="delete">
			  			<span class="icons">
			  			<i class="fa fa-trash" aria-hidden="true"></i>
			  			</span>
			  			<span class="name"><a href="#">Delete</a></span>
			  		</span>
		  		</div>
		  	</div>
		  	<div class="tskr_cont_3_cont_inner">
		  		<div class="tskr_3_cont_inner_left">
		  			Yoga Tutor
		  		</div>
		  		<div class="tskr_3_cont_inner_rgt">

			  		<span class="edit">
			  			<span class="icons">
			  			<i class="fa fa-pencil" aria-hidden="true"></i>
			  			</span>
			  			<span class="name">
			  			<a href="#">Edit</a>
			  			</span>
			  		</span>
			  		<span class="delete">
			  			<span class="icons">
			  			<i class="fa fa-trash" aria-hidden="true"></i>
			  			</span>
			  			<span class="name"><a href="#">Delete</a></span>
			  		</span>
		  		</div>
		  	</div>
		  	<div class="tskr_cont_3_cont_inner">
		  		<div class="tskr_3_cont_inner_left">
		  			Home Cleaning
		  		</div>
		  		<div class="tskr_3_cont_inner_rgt">

			  		<span class="edit">
			  			<span class="icons">
			  			<i class="fa fa-pencil" aria-hidden="true"></i>
			  			</span>
			  			<span class="name"><a href="#">Edit</a></span>
			  		</span>
			  		<span class="delete">
			  			<span class="icons">
			  			<i class="fa fa-trash" aria-hidden="true"></i>
			  			</span>
			  			<span class="name"><a href="#">Delete</a></span>
			  		</span>
		  		</div>
		  	</div>
		  	</div>
		  	<div class="tskr_3_sbmt_btn">
		  	   <div class="tskr_3_sbmt_btn_inner">
			  		<button class="btn" ng-click="Thankpop()">
			  			Submit
			  		</button>
		  		</div>
		  	</div>
		  </div>
		  </div>
    </uib-tab>
</uib-tabset>
</div>
</div>
</div>
