<div class="thank_cont">
	<div class="thank_inner_cont">
		<div class="thank_value">
			<div class="thank_icon">
				<i class="fa fa-check-circle-o" aria-hidden="true"></i>
			</div>
			<div class="thank_value_cont">
			<div class="thank_value_cont_inner">
				Thank you for signing up! <br />
				<div class="thank_inner_o">HandyForAll team will contact 
			you soon to verify your account.
			</div>
			</div>
			</div>
			<div class="thank_btns">
				<div class="thank_btns_cont">
					<a class="btn slide-btn bg-inverse" href="/">Home</a>
				</div>
			</div>
		</div>
	</div>
</div>